In [1]:
# Tuples
# Tuples are an immutable sequence data type that are commonly used 
# to hold short collections of related data. For instance, if you wanrted to store latitude adn longitude coordinates for cities, tuples might be a good choice, necause the values are related and not likely to change. Like lists, 
# tuples can store objects of different types.

In [2]:
my_list = [2, 3, 1, 4]
another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)

In [3]:
another_tuple[2]

1

In [4]:
another_tuple[2:4]

(1, 4)

In [5]:
print(len(another_tuple))
print(min(another_tuple))
print(max(another_tuple))
print(sum(another_tuple))

4
1
4
10

In [6]:
del another_tuple[1] #can not change the tuple

TypeError: 'tuple' object doesn't support item deletion

In [21]:
string = "Hello world"
print(string[3:]) #slice from 3th index 
print(string[::-1]) #reverse
print(len(string))
print(string.count('l'))
print(string.lower())
print(string.upper())
print(string.title()) #make the first letter of each word uppercase
print(string.find("W")) #find the index of the string if it doesnt exist give -1
print(string.replace("world", "badmaa"))
print(string.split())

lo world
dlrow olleH
11
3
hello world
HELLO WORLD
Hello World
-1
Hello badmaa
['Hello', 'world']

In [23]:
multiline_string = """I am
multiline
string!"""
multiline_string.splitlines()

['I am', 'multiline', 'string!']

In [26]:
"  strip white space!  ".strip()
"xXxxBuyNOWxxXx".strip("xXW")

'BuyNO'

In [28]:
"Hello " + "world"

'Hello world'

In [29]:
" ".join(["Hello", "World!", "Join", "Me!"])

'Hello World! Join Me!'

In [30]:
name = "Joe"
age = 10
city = "Paris"

"My name is " + name + " I am " + str(age) + " and I live in " + "Paris"

'My name is Joe I am 10 and I live in Paris'

In [31]:
template_string = "My name {} I am {} and I live in {}"

template_string.format(name, age, city)

'My name Joe I am 10 and I live in Paris'

In [33]:
# Remaking the example above using an f-string
f"My name is {name} I am {age} and I live in {city}"

'My name is Joe I am 10 and I live in Paris'