In [1]:
# Puthon for Data 7: Dictionaries and sets

In [4]:
my_dict = {"name": "Bat", "age": 10, "city": 'Paris'}
print(my_dict)

{'name': 'Bat', 'age': 10, 'city': 'Paris'}

In [5]:
my_dict["new_key"] = "new_key"
print(my_dict)

{'name': 'Bat', 'age': 10, 'city': 'Paris', 'new_key': 'new_key'}

In [6]:
del my_dict["new_key"]
print(my_dict)

{'name': 'Bat', 'age': 10, 'city': 'Paris'}

In [7]:
"name" in my_dict

True

In [8]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [9]:
"Paris" in my_dict.values()

True

In [15]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
#         print("tri_recursion", tri_recursion(k-1))
        print(result)
    else:
        result = 0
    return result

print("recursion example results")
tri_recursion(7)

recursion example results
1
3
6
10
15
21
28

28

In [17]:
a = ["outside"]
def func():
    a = ["inside"]
    for i in range(5):
        a.append(i)
    print(a)
func()
print(a)

['inside', 0, 1, 2, 3, 4]
['outside']

In [18]:
a = ["outside"]
def func():
    global a
    a = ["inside"]
    for i in range(5):
        a.append(i)
    print(a)
func()
print(a)

['inside', 0, 1, 2, 3, 4]
['inside', 0, 1, 2, 3, 4]

In [20]:
# function aas huwisagch tus bureer n butsaah

def f():
    a = 1
    b = 2
    c = 3
    return a, b, c

a, b, c = f()
print(a, b, c)

1 2 3

In [21]:
# function aas tuple butsaah

def f():
    a = 1
    b = 2
    c = 3
    return a, b, c

return_value = f()
print(return_value)

(1, 2, 3)

In [22]:
# function aas dictionary butsaah

def f():
    a = 1
    b = 2
    c = 3
    return {"a": a, "b": b, "c": c}

x = f()
print(x)

{'a': 1, 'b': 2, 'c': 3}

In [27]:
# ogogdliig tsewerleh ajil

import re
states = [" Alabama ", 'Georgia!', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

def clean_strings(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

print(clean_strings(states))

['Alabama', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

In [28]:
# ene function clean_ops dotor duudagdaj baina
def remove_punctuation(value):
    return re.sub('[!#?>]', '', value)

# function daraalal gej oilgoloo 
clean_ops = [str.strip, remove_punctuation, str.title]

# deerh function uudiig door negtej dawhar loop erguulj bna, etsest n ogogdliig tsewerlej duusgasan 
def clean_strings(strings, ops):
    result = []
    for value in strings:
#         ene loopiig funcion dotor duudaj bna
        for function in ops:
            value = function(value)
#         ene loopiig funcion dotor duudaj bna
        result.append(value)
    return result

# dawhar utga bolon function duudaj bga mon tuhain function n dotoroo function duudaj bna
print(clean_strings(states, clean_ops))

['Alabama', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

In [29]:
# Lambda function
def short_function(x):
    return x * 2

multiplex2 = lambda x: x * 2

print(short_function(12))
print(multiplex2(12))

24
24

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
even = list(filter(lambda x: x%2==0, numbers))

print(numbers)
print(even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[2, 4, 6, 8, 10, 12]

In [35]:
def myfunc(n):
    return lambda a: a*n

mytripler = myfunc(3)

print(mytripler(11))

33

In [36]:
# Lambda function if

a = lambda x : (x > 1 and x < 100)
print(a(10))
print(a(101))

True
False

In [37]:
a = lambda x : "Үнэн" if (x > 1 and x < 100) else "Худал"
print(a(10))
print(a(101))

Үнэн
Худал

In [38]:
a = lambda x : x*2 if x < 1 else (x*3 if x < 10 else x)
print(a(10))
print(a(101))

10
101

In [39]:
def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

print(add_five(6))

11

In [40]:
# try blkock ni code iin aldaag shalgah bolomjiig olgono
# except block ni aldaag zasah bolomjiig olgono
# else block n aldaa baihgui uyd code iig guitsetgeh bolomjiig olgono
# finally block n tur try, except block iin ur dungees ul hamaaran code iig guitsetgeh bolomjiig olgono

try:
    #Алдааа гарах боломжтой код
    num1 = int(input("enter a numerator: "))
    num2 = int(input("enter a denominator: "))
    result = num1 / num2
except ZeroDivisionError:
    # Toog 0-d huwaah uyd garah aldaa
    print('Error: division by zero!')
    
except ValueError:
    #buruu utha oruulah uyd garah aldaa
    print("Error: incvalid input! please enter valid integers")
else:
    #except boloogui buyu aldaa garaagui uyd ajillana
    print(f"result of division: {result}")
finally:
    #ymr ch uyd ajillana
    print("Execution complete")

enter a numerator: 1
enter a denominator: 2
result of division: 0.5
Execution complete

In [41]:
try:
    f = open("DBP221.txt")
    try:
        f.write("Hello World!")
    except:
        print("Ug file d bichih uyd aldaa garlaa")
    finally:
        f.close()
except:
    print("File iig neeh uyd aldaa garlaa")

File iig neeh uyd aldaa garlaa